/** Override django base.css and form.css so the preview can be aligned with the textarea */
.wmd-preview { margin-left:0; padding-left: 0; width: 750px; }
.wmd-preview code {margin-left: 7em; padding-left: 20px; }
.wmd-preview p {line-height: 25px; }
.wmd-preview blockquote { border-left: none; padding:0 !important; margin: 0 !important;}
.wmd-preview h2 {margin-left: 5em; font:bolder 20px Helvetica; background: none; color:#333; letter-spacing:-.9px; }
.wmd-preview hr {padding-left: 5em;}